{% extends "base.html" %}
{% block content %}
<div class="container_register">
        <div class="nav">
            {% include "userRoom/header.html" %}
        </div>
    <div class="random"  action="{% url 'private' %}">
        <div class="leftbar">
            <ul class="left_menu">
                    <a href="{% url 'private' %}"><li><img src ="/static/userRoom/img/cabinet.svg">Мой кабинет</li></a>
                    <a href="{% url 'application' %}"><li><img src ="/static/userRoom/img/mine.svg">Мои заявки</li></a>
                     <!-- <a href="{% url 'chat' %}"><li><img src ="/static/userRoom/img/mine.svg">Сообщения</li></a> -->
                    <a href="{% url 'rejected' %}"><li><img src ="/static/userRoom/img/mine.svg">Непринятые заявки</li></a>
                    <a href="{% url 'archive' %}"><li><img src ="/static/userRoom/img/mine.svg">Архив заявок</li></a>
                    <a href="{% url 'view_connect' %}"><li><img src ="/static/userRoom/img/mine.svg">Обращения</li></a>
                    
            </ul>
        </div>
        <div class="border_aside"></div>
        <div class="area_wrapp">
                <div class="area_wrapp">
                        <div class="div">
                        <a class = "lead" href="{% url 'private'  %}">Личный кабинет</a>
                        <h2 class="state">Мои заявки</h2>
                    </div>
        <div class="container">
            <h2> </h2>
            <div class = "statement">
                    {% for applic in application %}
                    {% if applic.status == '1' %}
                    <div class="statement_name">
                            <p class = status_state><span class="stat">Наименование проекта:</span>{{applic.project_name}}
               </div>
                <div class="itms2">
                <div class="description">
                  
                    <div class="data_send">
                            {% if applic.status == '0' %}
                        <p class = status_state><span class="stat">Статус заявки:</span> <span class = "prob">В рассмотрении</span> </p>
                            {% elif applic.status == '1' %}
                        <p class = status_state><span class="stat">Статус заявки:</span> <span class = "prob">В сопровождении</span></p>
                            {% elif applic.status == '2' %}
                        <p class = status_state><span class="stat">Статус заявки:</span><span class = "prob">завершено</span> </p>
                        {% endif%}
                    </div>
                    <div class="data_send">
                        <span class="stat"> дата подачи:</span></span><span class = "prob">{{applic.data_send}}</span>
                </div>
                <div class="data_send">
                        <span class="stat"> Примерно время исполнения:</span><span class = "prob">{{applic.time}}</span>
                </div>
                <div class="data_send">
                    <form method="POST" class='act' action= "{% url 'time' pk=applic.id%}">{{form.time}}{% csrf_token %}<input type="submit" class='sub'value="Принять" /></form>
                </div>
                <div class="data_send">
                <form method="POST" action="{% url 'complete' pk=applic.id %}"><button class="sub">Завершить</button>{% csrf_token %}</form>
            </div>

            <div class="data_send">
                
                
                
            </div>
                </div>
                {% endif%}
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}