{% extends "base.html" %}
{% block content %}
<div class="container_register">
    <div class="nav">
        {% include "userRoom/header.html" %}
    </div>
<div class="random"  action="{% url 'private' %}">
    <div class="leftbar">
            <ul class="left_menu">
                    <a href="{% url 'private' %}"><li><img src ="/static/userRoom/img/cabinet.svg">Мой кабинет</li></a>
                    <a href="{% url 'application' %}"><li><img src ="/static/userRoom/img/mine.svg">Мои заявки</li></a>
                    <a href="{% url 'rejected' %}"><li><img src ="/static/userRoom/img/mine.svg">Непринятые заявки</li></a>
                    <a href="{% url 'archive' %}"><li><img src ="/static/userRoom/img/mine.svg">Архив заявок</li></a>
                    <a href="{% url 'view_connect' %}"><li><img src ="/static/userRoom/img/mine.svg">Обращения</li></a>
                    
            </ul>
    </div>
    <div class="border_aside"></div>
    <div class="area_wrapp">
            <div class="area_wrapp">
                    <div class="div">
                    <a class = "lead" href="{% url 'private'  %}">Личный кабинет</a>
                    <h2 class="state">Обращения</h2>
                </div>
    <div class="container">
        <h2>Модератор</h2>
        <div class = "statement">
                {% for connect in connections %}
                <div class="statement_name">
                        <p class = status_state><span class="stat">Обратился:</span>{{connect.second_name}} {{connect.first_name}} {{connect.last_name}}</p>
           </div>
            <div class="itms2">
            <div class="description">
                <div class="data_send">
                    <span class="stat"> Телефон:</span>{{connect.phone}}</span><span class = "prob">{{statement.data_send}} </span>
                    
                    
            </div>
            <div class="data_send">
                    <span class="stat"> почта:</span><span class = "prob">{{connect.email}}</span>
            </div>
            <div class="data_send">
                    <span class="stat"> Организация:</span><span class = "prob">{{connect.organisation}}</span>
            </div>
            <div class="data_send">
                <a href="{% url 'delete' pk=connect.id %}"><button class="sub">удалить</button></a>
        </div>
        
            </div>
            {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
</div>

{% endblock %}