{% extends "base.html" %}
{% block content %}
<div class="slider">{% include "userRoom/headerslide.html" %}
<div class="fade">        
            <div class="slide">
                <div class="slide1">
                    <div class="slide_container">
                        <div class="left_slide">
                            <div class= "slidertext">
                            <img class="slide_image" src="/static/userRoom/img/list.png">
                            <p class="slide_text">Всего размеры посевных площадей ЦФО  в 2015 году составили 15 354,6 тыс. га - это 19,4% от всех посевных площадей России</p>
                            </div>
                            <div class= "slidertext">
                                    <img class="slide_image" src="/static/userRoom/img/list.png">
                                    <p class="slide_text">Всего размеры посевных площадей ЦФО  в 2015 году составили 15 354,6 тыс. га - это 19,4% от всех посевных площадей России</p>
                                    </div>
                        </div>
                        <div class="right_slide">
                            <div class="right_container">
                            <h3 class="investtext">
                                Инвестируй в
                            </h3>
                            <h2 class="invest">
                                    Обрабатыващую Отрасль
                            </h2>
                            <button class="more">
                                Подробнее об отрасли
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                </div>
        <div class="slide">
            2
        </div>
        <div class="slide">
            3
        </div>
        <div class="slide">
                2
            </div>
            
      </div>
    </div> 
{% endblock %}