<nav class="header_slider">
    <div class="header_container">
                <div class="left_nav">
                    <button class="burger"><img src="/static/userRoom/img/Group 1.svg" alt="burger"></button>
                    <p class="logo"><span class="white_logo">Инвест</span> Липецк</p>
                </div>  

                    {% if user.is_authenticated %}
                <div class="logout">
                        <a href="{% url 'private'  %}">
                            <button class="login">Личный кабинет</button>
                        </a> 
                  
                    </div>
                    {% else %}
                    <div class="logout">
                    <a href="{% url 'register'%}">
                            <button class="login">Регистрация</button>
                        </a>
                        <a href="{% url 'login'%}">
                            <button class="login">Войти</button>
                        </a>
                    {% endif %}
                </div>
</nav>