{% extends "base.html" %}
{% block content %}
{% include "userRoom/headerslide.html" %}
        <div class="infrastruktura_container">
            <div class="inside"> 
                <div class="preferenc">
                    <h3 class="nalog">Налоговые льготы <br>и Преференции</h3>
                    <div class="pref_border"> </div>
                    <p class="pref_text">в случае вступления в ОЭЗ РУ ТРТ <br>«ЗАДОНЩИНА»</p>
                </div>
               <table class="preferense_table">
                   <tr>
                       <td>

                       </td>
                       <td>
                           для всех
                       </td>
                       <td>
                           для участников
                       </td>
                   </tr>
                   <tr>
                       <td class="pref_td">
                           Налог на имущество
                       </td>
                       <td><p class="procent">2.2%</p>
                      
                           
                       </td>
                       <td class="flex_td"><p class="procent">0%</p> <p class="years">в течении 7 лет</p></td>
                   </tr>
                   <tr class="no_name">
                       <td>

                       </td>
                       <td>
                           <p class="procent">20%</p>
                       </td>
                       <td class="flex_td"><p class="procent">0%</p> <p class="years">в течении 10 лет</p></td>
                   </tr>
                   <tr class="height">
                       <td>
                           Налог на транспорт
                       </td>
                       <td>  <p class="procent">20%</p></td>
                       <td class="td_flex"><p class="procent">15.5%</p> <p class="years">в течении 5 лет</p></td>
                   </tr>
                   <tr class="height">
                        <td>
                            Налог на прибыль
                        </td>
                        <td >  <p class="procent">3.5%</p><p class="years">кадастровой <br>стоимости</p></td>
                        <td class="td_flex1"><p class="procent">0.1%</p> <p class="years">кадастровой стоимости</p></td>
                    </tr>
               </table>

            </div>
        </div>
<div class="buttons_slider">
        <ul class="but">
            <li class="but_li">Инфраструктура</li>
            <li class="but_li">Кадры</li>
            <li class="but_li">Преференции</li>
            <li class="but_li">Команды</li>
            <li class="but_li">Логистика</li>
        </ul>

    </div>
<div class="fade">        
    
            <div class="slide">
                <div class="slide1">
                    <div class="slide_container">
                        <div class="left_slide">
                            <div class = "prev_verh">
                                <p class="preverh">Культура и спорт</p>
                            </div>
                            <div class= "slidertext">
                            <img class="slide_image" src="/static/userRoom/img/list.png">
                            <p class="slide_text">Всего размеры посевных площадей ЦФО  в 2015 году составили 15 354,6 тыс. га - это 19,4% от всех посевных площадей России</p>
                            </div>
                            <div class= "slidertext">
                                    <img class="slide_image" src="/static/userRoom/img/list.png">
                                    <p class="slide_text">Всего размеры посевных площадей ЦФО  в 2015 году составили 15 354,6 тыс. га - это 19,4% от всех посевных площадей России</p>
                                    </div>
                        </div>
                        <div class="right_slide">
                                <div class = "prev_verh_right">
                                        <p class="preverh">Строительство </p>
                                    </div>
                            <div class="right_container">
                            <h3 class="investtext">
                                Инвестируй в
                            </h3>
                            <h2 class="invest">
                                    Обрабатыващую Отрасль
                            </h2>
                            <button class="more">
                                Подробнее об отрасли
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                </div>
        <div class="slide">
            <div class="slide2">
                <div class="slide_container">
                    <div class="left_slide">
                            <div class = "prev_verh">
                                    <p class="preverh">Обратывабщая отрасль</p>
                                </div>
                        <div class= "slidertext">
                        <img class="slide_image" src="/static/userRoom/img/list.png">
                        <p class="slide_text">Существенную роль в общероссийском сырьевом балансе играют запасы железных руд, мела, гипса, доломитов </p>
                        </div>
                        <div class= "slidertext">
                                <img class="slide_image" src="/static/userRoom/img/list.png">
                                <p class="slide_text">В ЦФО расположено около двух третьих разведанных запасов железных руд России </p>
                                </div>
                    </div>
                    <div class="right_slide">
                            <div class = "prev_verh_right">
                                    <p class="preverh">Энергетика </p>
                                </div>
                        <div class="right_container">
                        <h3 class="investtext">
                            Инвестируй в
                        </h3>
                        <h2 class="invest">
                                Строительство
                        </h2>
                        <button class="more">
                            Подробнее об отрасли
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="slide">
            <div class="slide3">
                <div class="slide_container">
                    <div class="left_slide">
                            <div class = "prev_verh">
                                    <p class="preverh">Строительство</p>
                                </div>
                        <div class= "slidertext">
                        <img class="slide_image" src="/static/userRoom/img/list.png">
                        <p class="slide_text">Существенную роль в общероссийском сырьевом балансе играют запасы железных руд, мела, гипса, доломитов </p>
                        </div>
                        <div class= "slidertext">
                                <img class="slide_image" src="/static/userRoom/img/list.png">
                                <p class="slide_text">В ЦФО расположено около двух третьих разведанных запасов железных руд России </p>
                                </div>
                    </div>
                    <div class="right_slide">
                            <div class = "prev_verh_right">
                                    <p class="preverh">Культура и спорт </p>
                                </div>
                        <div class="right_container">
                        <h3 class="investtext">
                            Инвестируй в
                        </h3>
                        <h2 class="invest">
                                Отрасль энергетики
                        </h2>
                        <button class="more">
                            Подробнее об отрасли
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="slide">
            <div class="slide4">
                <div class="slide_container">
                    <div class="left_slide">
                            <div class = "prev_verh">
                                    <p class="preverh">Энергетика</p>
                                </div>
                        <div class= "slidertext">
                        <img class="slide_image" src="/static/userRoom/img/list.png">
                        <p class="slide_text">Существенную роль в общероссийском сырьевом балансе играют запасы железных руд, мела, гипса, доломитов </p>
                        </div>
                        <div class= "slidertext">
                                <img class="slide_image" src="/static/userRoom/img/list.png">
                                <p class="slide_text">В ЦФО расположено около двух третьих разведанных запасов железных руд России </p>
                                </div>
                    </div>
                    <div class="right_slide">
                            <div class = "prev_verh_right">
                                    <p class="preverh">Обрабатывающая</p>
                                </div>
                        <div class="right_container">
                        <h3 class="investtext">
                            Инвестируй в
                        </h3>
                        <h2 class="invest">
                            Культуру и спорт
                        </h2>
                        <button class="more">
                            Подробнее об отрасли
                        </button>
                    </div>
                </div>
            </div>
        </div>
            </div>
            
      </div>
   <div class="questions">
       <div class="artamonov_container">
           <div class="left_artamonov">
            <h2 class="region">Глава региона<br><span class="ready">готов ответить</span><br>на ваши вопросы</h2>
            <span class="artamonov_border"></span>
            <p class="artamonov_text">Ullamcorper velit sed ullamcorper morbi tincidunt ornare. Arcu ac tortor dignissim convallis aenean. 
            Arcu ac tortor dignissim convallis aenean. Vivamus at augue eget arcu.</p>
            
            <button class="more">
                Обратиться к руководству
                </button>
                <div id="error" class="modalbackground">
                    <div class="modalwindow">
                        <h3>Ошибка!</h3>
                        <p>Проверьте введенные данные</p>
                        <a href=" ">Закрыть</a>
                    </div>
                </div>
           </div>
           <div class="right_artamonov">
                <p class="artamonov_text2">Ullamcorper velit sed ullamcorper morbi tincidunt ornare. Arcu ac tortor dignissim convallis aenean. 
                        Arcu ac tortor dignissim convallis aenean. Vivamus at augue eget arcu.</p>
                        <span class="artamonov_border2"></span>
                        <p class="artamonov_name">Артамонов И.Г <br>Губернатор <br>Липецкой области</p>
           </div>
       </div>
   </div>  
   <div class="map">
    <div class="left_map">
    </div>
    <div class="right_map">
        <div class="data_region">
            <h2 class="invest">
                Сведения о регионе
            <span class="border_invest"></span>
            </h2>
            <div class="data1">
                <div class="data_inside">
                <p class="p_region">
                    <span class="number">24</span>
                    тыс.км<sup>2</sup>
                </p>
                <p class="territory">
                    территория области
                </p>
            </div>
            <div class="data_inside">
                    <p class="p_region">
                        <span class="number">1150.2</span>
                        тыс. чел
                    </p>
                    <p class="territory">
                            население региона
                    </p>
                </div>
            </div>
            <div class="data1">
                    <div class="data_inside">
                    <p class="p_region">
                        <span class="number">11</span>
                        особых
                    </p>
                    <p class="territory">
                        экономических зон
                    </p>
                </div>
                <div class="data_inside">
                        <p class="p_region">
                            <span class="number">539.1</span>
                            млрд руб
                        </p>
                        <p class="territory">
                                валовый регональный
                    продукт 
                        </p>
                    </div>
                </div>  
                <div class="data1">
                        <div class="data_inside">
                        <p class="p_region">
                            <span class="number">128.5</span>
                            млрд руб
                        </p>
                        <p class="territory">
                                объем инвестиций
                                в основной капитал
                        </p>
                    </div>
                    <div class="data_inside">
                            <p class="p_region">
                                <span class="number">112.1</span>
                                тыс.руб
                            </p>
                            <p class="territory">
                                    объем инвестиций
            <br>на душу населения
                            </p>
                        </div>
                    </div>  
                    <div class="data1">
                            <div class="data_inside">
                            <p class="p_region">
                                <span class="number">5 590</span>
                                млн. дол
                            </p>
                            <p class="territory">
                                    объем инвестиций
                на душу населения
                            </p>
                        </div>
                        </div>  
            </div>
    </div>
   </div>
   <div class="investation">
    <div class="investation_container">
        <div class="flex">
        <h2 class="be">Стать инвестором</h2>
        <p class="lipetsk">в Липецкой области</p>
        </div>
        <div class="items">
            <div class="item1">
                <p class="number_item">01</p>
                <p class="status">
                    Подача заявки
                </p>
                <p class="text">
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="item1">
                    <p class="number_item">02</p>
                    <p class="status">
                        Рассмотрение заявки
                    </p>
                    <p class="text">
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="item1">
                        <p class="number_item">03</p>
                        <p class="status">
                            Сопровождение
                        </p>
                        <p class="text">
                                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="item1">
                            <p class="number_item">04</p>
                            <p class="status">
                                Реализация проекта
                            </p>
                            <p class="text">
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
        </div>
        <div class="buttons_items">
            <button class="big_invest">
                <a  href="statement_view">Стать инвестором</a>
            </button>
            <button class="question">
                ?
            </button>
        </div>
    </div>
   </div>
   <div class="history">
    <div class="shade">        
        <div class="slide">
            <div class="slide01">
                <div class="sucess">
                    <h2 class="suc">Истории успеха</h2>
                    <p class="lipetsk">В Липецкой области</p>
                    <span class="border_indesit"></span>
                </div>
                <div class="indesit">
                    <h2>АО «ИНДЕЗИТ ИНТЕРНЕШНЛ» <br>производство бытовой техники</h2>
                </div>
                <p class="indesit_text">Факт присутствия нашей корпорации в Липецке укрепился с годами.</p>
        </div>
            </div>
    <div class="slide">
        <div class="slide02">
            <div class="sucess">
                <h2 class="suc">Истории успеха</h2>
                <p class="lipetsk">В Липецкой области</p>
                <span class="border_indesit"></span>
            </div>
            <div class="indesit">
                <h2>ООО «ЙОКОХАМА Р.П.З.» <br>производство автомобильных шин</h2>
            </div>
            <p class="indesit_text">Факт присутствия нашей корпорации в Липецке укрепился с годами.</p>
    </div>
    </div>
    <div class="slide">
        <div class="slide03">
            <div class="sucess">
                <h2 class="suc">Истории успеха</h2>
                <p class="lipetsk">В Липецкой области</p>
                <span class="border_indesit"></span>
            </div>
            <div class="indesit">
                <h2>ООО «Хавле Индустриверке» <br>производство оборудования <br>для систем водоснабжения</h2>
            </div>
            <p class="indesit_text">С 2011 года мы находимся в Чаплыгине Липецкой области и не жалеем об этом.</p>
    </div>
    </div>
    <div class="slide">
        <div class="slide04">
            <div class="sucess">
                <h2 class="suc">Истории успеха</h2>
                <p class="lipetsk">В Липецкой области</p>
                <span class="border_indesit"></span>
            </div>
            <div class="indesit">
                <h2> ООО «Ангел Ист Рус» <br>производство дрожжей</h2>
            </div>
            <p class="indesit_text">Каждый год нам нужно минимум 100 000 тонн сахарной свеклы, которую обеспечивает Липецкая область.</p>
    </div>
        </div>
        
  </div>
   </div>
{% endblock %}