{% extends "base.html" %}

{% block title %}Создайте профиль{% endblock %}

{% block content %}
    <div class="container_register">
        <div class="nav">
            {% include "userRoom/header.html" %}
        </div>
        <div class="register2">
    <aside><ul class="registration"><h2 class="portal">Регистрация <br> на портале</h2></ul><div class="border_aside"></div></aside>
    <form action="{% url 'register' %}" method="post" class="registrationform">
        <div class="register_wrap">
        <div class="familiya">
    <div class="input_1"><p class="username">Логин</p>  {{user_form.username}}</div>
    <div class="input_1"> <p class="username">Пароль</p>{{user_form.password}}</div>
    <div class="input_1"><p class="username">Повторите пароль</p>{{user_form.password2}}</div>
    <div class="input_1"><p class="username">Электронная почта</p>{{user_form.email}}</div>
    </div>
    <div class="register1">
            <div class="input_1"><p class="username">Номер телефона</p>{{profile_form.phone}}</div> 
            <div class="input_1"><p class="username">Имя </p>{{user_form.first_name}}</div> 
            <div class="input_1"><p class="username">Фамилия</p>{{user_form.last_name}}</div>
            <div class="input_1"><p class="username">Отчество(если есть)</p> {{profile_form.last_name}}</div>
            
             <!-- <div class="input_1"><p>Номер паспорта </p> {{profile_form.passport_number}}</div>  -->
        </div>
        </div>
        <div class="serial">{{user_form.captcha}}</div>
        {{user_form.captcha.errors}}
        {% csrf_token %}
        <input type="submit" value="Регистрация" class="registration_button">
        
    </form>
</div>
</div>
{% endblock %}