{% load static %}
<!DOCTYPE html>
<html>
<head> 
    <link rel="stylesheet" type="text/css" href="{% static 'userRoom/base.css' %}">     
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='/static/slick-1.8.1/slick/slick.css'> 
    <link rel="stylesheet" type="text/css" href="/static/slick-1.8.1/slick/slick-theme.css"/> 
    <link rel="stylesheet" type="text/css" href="/static/userRoom/onepage.css"/> 
 
</head>
<body>
<div class="content">
    
    {% block content %}
  
    {% endblock %}
     

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/static/userRoom/jquery.onepage-scroll.min.js"></script> -->
<script type="text/javascript" src="/static/slick-1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/static/userRoom/js.js"></script>
</body>
</html>

